# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IntelliJ IDE
.idea/

# Python specific
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Log files
*.log